main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/src/fotos/black-grunge-background-cover-3q198pzqys2yc76a.jpg');
    background-size: cover;
    color: white;
    height: 100vh;
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

#inputs {
    margin: 50px;
    padding: 10px;
    display: flex;
    background-color: rgba(46, 46, 46, 0.575);
    border-radius: 10px;
    flex-direction: column;
    gap: 2px;
}



















input.valid,
#textaria.valid {
    border-color: green;
}

input.invalid,
#textaria.invalid {
    border-color: red;
}